In [4]:
import pandas as pd
import psycopg2
import yfinance as yf

# CONNECT to REDSHIFT

In [5]:
import psycopg2
import dotenv
import os

from os.path import expanduser
home = expanduser("~")

dotenv.load_dotenv(fr"{home}\creds\local_postgres.txt")

connection_params = dict(
        host=os.getenv('host')
        , dbname=os.getenv('dbname')
        , user=os.getenv('user')
        , password=os.getenv('password')
        , port=os.getenv('port')
)


try:
    conn = psycopg2.connect(
        **connection_params
    )
    print("Connected to Redshift successfully!")
    
except Exception as e:
    print("Unable to connect to Redshift.")
    print(e)

FileNotFoundError: [Errno 2] No such file or directory: 'C:\\Users\\juanm\\creds\\pwd_redshift.txt'

# EXTRACT

In [13]:
# Setup the parameters for the data to be fetched
ticker_info = dict(ticker_symbol = 'AAPL', data_source='Yahoo Finance', source_type = 'Platform', interval='1d', start_date = '2023-01-01', end_date = None)

In [14]:

# Fetch data for Apple Inc. with a daily interval
data = yf.download(ticker_info['ticker_symbol'], interval=ticker_info['interval'], start=ticker_info['start_date'], end=ticker_info['end_date'])

# Display the data
data.head()

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.538658,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.823189,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.488876,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,129.069321,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.597061,70790800

In [4]:
# with open(r"C:\Users\juanm\creds\alpha_vantage.txt",'r') as f:
#     alpha_vantage_api_key= f.read()

In [15]:
# import requests

# def get_alpha_vantage_data(symbol, api_key):
#     base_url = "https://www.alphavantage.co/query"
#     function = "TIME_SERIES_DAILY"
#     output_size = "compact"  # Use "full" for the complete dataset
    
#     params = {
#         "function": function,
#         "symbol": symbol,
#         "apikey": api_key,
#         "outputsize": output_size
#     }
    
#     response = requests.get(base_url, params=params)
    
#     if response.status_code == 200:
#         return response.json()
#     else:
#         return None

In [22]:
# data = get_alpha_vantage_data("AAPL", alpha_vantage_api_key)

# # Convert the nested dictionary to a DataFrame
# data = pd.DataFrame(data['Time Series (Daily)']).T

# # Rename the columns for clarity
# data.columns = ['open', 'high', 'low', 'close', 'volume']
# data

                open      high       low     close    volume
2023-10-16  176.7500  179.0750  176.5100  178.7200  52170957
2023-10-13  181.4200  181.9300  178.1400  178.8500  51456082
2023-10-12  180.0700  182.3400  179.0400  180.7100  56743119
2023-10-11  178.2000  179.8500  177.6000  179.8000  47551098
2023-10-10  178.1000  179.7200  177.9500  178.3900  43698019
...              ...       ...       ...       ...       ...
2023-05-31  177.3250  179.3500  176.7600  177.2500  99313268
2023-05-30  176.9600  178.9900  176.5700  177.3000  55964401
2023-05-26  173.3200  175.7700  173.1100  175.4300  54834975
2023-05-25  172.4100  173.8950  171.6900  172.9900  56058258
2023-05-24  171.0900  172.4183  170.5200  171.8400  45143488

[100 rows x 5 columns]

# TRANSFORM

In [13]:
def get_or_create_record(conn, search_value, table_name, entity):
    # Check if data source exists
    with conn.cursor() as cur:
        cur.execute(f"""
            SELECT {entity}_id FROM {table_name} WHERE {entity}_name = '{search_value}';
            """)
        try:
            record_id = cur.fetchone()[0]
        except TypeError:
            record_id = None
    if not record_id:
        # Insert new data source
        with conn.cursor() as cur:
            cur.execute(f"""
                INSERT INTO {table_name} ({entity}_name) VALUES ('{search_value}');
            """)
            cur.execute(f"""
                SELECT MAX({entity}_id) FROM {table_name}
            """)
            record_id = cur.fetchone()[0]
            conn.commit()
    return record_id

In [14]:
asset_id = get_or_create_record(conn, ticker_info['ticker_symbol'], "assets", "asset")
data_source_id = get_or_create_record(conn, ticker_info['data_source'], "data_sources", "source")
source_type_id = get_or_create_record(conn, ticker_info['source_type'], "source_types", "type")
print(asset_id, source_type_id, data_source_id)

4 2 3

# LOAD

In [15]:
data.reset_index(inplace=True)
data.columns = [c.lower().replace(' ', '_') for c in data.columns]
data.rename(columns={'date':'timestamp'}, inplace=True)
data['asset_id'] = asset_id
data['source_id'] = data_source_id

In [16]:
from psycopg2.extras import execute_values

def load_redshift(conn, table_name, dataframe):
    with conn.cursor() as curs:
        values = [tuple(x) for x in dataframe.to_numpy()]
        cols = '"'+'''", "'''.join(data.columns)+'"'
        # define INSERT INTO statement
        insert_sql = f"INSERT INTO {table_name} ({cols}) VALUES %s"
        # Execute the transaction to insert the data
        curs.execute("BEGIN")
        execute_values(curs, insert_sql, values)
        curs.execute("COMMIT")
    print('Proceso terminado')

In [17]:
load_redshift(conn, 'ohlcv_data', data)

Proceso terminado

In [94]:
# with conn.cursor() as curs:
#     curs.execute("ROLLBACK")
#     conn.commit()