In [3]:
# Ej 1

success = False
while not success:
    input_num = input('input an uneven number: ')
    try:
        num = int(input_num)
        if num % 2 == 0:
            raise ValueError('The number is even')
        else:
            print(f'The number {num} is uneven')
        success = True
    except:
        print('The input must be an uneven number. Please try again')

The input is not an uneven number. Please try again
The input is not an uneven number. Please try again
The input is not an uneven number. Please try again
The number 3 is uneven

In [7]:
# Ej 2

length = input('input length of array: ')

# ask for length numbers and perform arithmetic mean
sum = 0
for i in range(int(length)):
    num = input('input integer number: ')
    try:
        num = int(num)
        sum += num
    except:
        print('The input must be an integer. Please try again')

print(f'The arithmetic mean is {sum/int(length)}')

In [10]:
# Ej 3

print(list(range(0,11)))
print(list(range(-10,1)))
print(list(range(0,21,2)))
print(list(range(-19,0,2)))
print(list(range(0,51,5)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1, 0]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20]
[-19, -17, -15, -13, -11, -9, -7, -5, -3, -1]
[0, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [11]:
# Ej 4
def list_intersection(list1, list2):
    return list(set(list1) & set(list2))

print(list_intersection(list(range(-10,1)), list(range(-19,0,2))))

[-9, -7, -5, -3, -1]

In [15]:
# Ej 5
sum = 0

for i in range(0,101,2):
    sum+=i
print(sum)

2550

In [18]:
# Ej 6
def count_in_list(list, num):
    return list.count(num)

print(count_in_list([1,5,3,4,5,6,7,8,5,10], 5))

3

# SQL

```

SELECT *
FROM agents a
WHERE UPPER(a.name) LIKE 'M%%' OR UPPER(a.name) LIKE '%%O'

```

```

SELECT DISTINCT c.occupation
FROM customers c
WHERE UPPER(c.occupation) LIKE '%%ENGINEER%%'
ORDER BY c.occupation ASC

```

```
SELECT c.customerid
    , c.name
    , CASE
        WHEN c.Age >30 THEN "Sí"
        WHEN c.Age <= 30 THEN "No"
        ELSE "Missing Data"
    END as "Mayor30"
FROM customers c

```

```
SELECT c1.*
    , CASE
        WHEN c.Age >30 THEN "Sí"
        WHEN c.Age <= 30 THEN "No"
        ELSE "Missing Data"
    END as "Mayor30"
FROM calls c1
INNER JOIN customers c2
    ON c1.customerid = c2.customerid
WHERE UPPER(c2.occupation) LIKE '%%ENGINEER%%'

```

```
SELECT COUNT(c1.callid) as "llamadas totales"
    , SUM(c1.productsoId) as "ventas totales"
FROM calls c1
INNER JOIN customers c2
    ON c1.customerid = c2.customerid
WHERE UPPER(c2.occupation) LIKE '%%ENGINEER%%'


SELECT COUNT(c1.callid) as "llamadas totales"
    , SUM(c1.productsoId) as "ventas totales"
FROM calls c1

```

```
SELECT a.name as "AgentName"
    , COUNT(c1.callid) as "NCalls"
    , MIN(c1.duration) as "Shortest"
    , MAX(c1.duration) as "Longest"
    , AVG(c1.duration) as "AvgDuration
    , SUM(c1.productsoId) as "TotalSales"
FROM calls c1
INNER JOIN agents a
    ON c1.agentid = a.agentid
WHERE c1.pickedup = 1
ORDER BY AgentName ASC

```

```
SELECT * 
FROM 
    (SELECT
        c1.agentid
        , AVG(c1.duration) as "SuccessAvgDuration"
    FROM calls c1
    WHERE c1.productsoId > 0 
    GROUP BY c1.agentid) t1
OUTER JOIN 
    (SELECT
        c1.agentid
        , AVG(c1.duration) as "FailureAvgDuration"
    FROM calls c1
    WHERE c1.productsoId = 0 AND c1.pickedup = 1
    GROUP BY c1.agentid) t2
    
ON t1.agentid = t2.agentid

```

```


```

```


```

```


```

```


```